name: Deploy to GitHub Releases

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Create Release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [macos-latest, windows-latest]
    timeout-minutes: 30
    steps:
    - name: Set env
      shell: bash
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        pip install .
    - name: Build macOS app
      if: runner.os == 'macOS'
      working-directory: ./build-recipes
      run: |
        bash ./macos_build_app.sh MPLDataCast ${{ env.RELEASE_VERSION }}
    - name: Build windows executable
      if: runner.os == 'windows'
      working-directory: ./build-recipes
      run: |
        pip install -r win_build_requirements.txt
        pyinstaller -y --log-level=WARN win_MPLDataCast.spec
        # Run the binary (the most simple test)
        dist\\MPLDataCast\\MPLDataCast.exe --version
        python win_make_iss.py
        ISCC.exe /Q win_mpl-data-cast.iss
    - name: Release Assets
      uses: softprops/action-gh-release@v1
      with:
        name: MPL-Data-Cast ${{ env.RELEASE_VERSION }}
        draft: true
        prerelease: false
        body: |
            ![](https://img.shields.io/github/downloads/GuckLab/MPL-Data-Cast/${{ env.RELEASE_VERSION }}/total.svg)
        files: |
          ./build-recipes/dist/*.dmg
          ./build-recipes/dist/*.pkg
          ./build-recipes/Output/*.exe
